* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	outline: 0;
}

.hide {
	display: none;
}

.red {
	color: red;
}

body {
	background: #eff;
	padding: 1em 2em;
}

body, button, input {
	font-family: 'Ubuntu Light', 'Microsoft JhengHei UI Light', 'Microsoft JhengHei', 'Microsoft YaHei UI', sans-serif;
}


.mono, code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 85%;
}

code {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
	color: #444;
}

code:before, code:after {
	letter-spacing: -0.2em;
	content: "\00a0";
}


.breakdown > .info > span {
	padding: 0.2em 1.5em;
	border-bottom: 2px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.breakdown > .info > span:not(:last-child) {
	margin-right: 1em;
}
.breakdown > .info > span:not(.active),
.breakdown > .raw  > span:not(.active) {
	opacity: 0.5;
}
.breakdown > .info > span,
.breakdown > .raw  > span {
	transition: opacity .5s;
}

/* Remove spaces */
.breakdown > .raw  { font-size: 0; }
.breakdown > .raw  > span { font-size: small; }
.breakdown > .raw  > span:not(:last-child) {
	padding-right: 1em;
}


.breakdown .header {
	color: red;
	border-bottom-color: red;
}

.breakdown .split {
	color: blue;
	border-bottom-color: blue;
}

.breakdown .ver {
	color: green;
	border-bottom-color: green;
}

.breakdown .url {
	color: purple;
	border-bottom-color: purple;
}

.breakdown .ref {
	color: orange;
	border-bottom-color: orange;
}



.blackout:not(:hover) {
	color: black;
	background-color: black;
	transition: color .3s, background-color .5s;
}



.p-no-gap > p {
	margin: .5em 0 0;
}