@font-face {
	font-family: ccc;
	-- Use 'build.font.sh' to build base64 string
	src: url(data:image/svg+xml;base64,<% $font.svg.base64 %>) format('svg');
	font-weight: normal;
	font-style: normal;
}

.%s::before {
	font-family: ccc;
	content: "A";
	padding-right: .5em;
}