@font-face {
	font-family: ccc;
	src: url(http://cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

.%s::before {
	font-family: ccc;
	content: "\f019";
	padding-right: .5em;
}