.m-pbar, .m-pbar .barbg {
	width: calc( 455px - 2.5em );
}

.m-playbar .play {
	width: calc( 570px - 2.5em );
}

.m-playbar .oper {
	width: initial;
}

.jx_dl {
	font-size: 1.5em;
	margin: 13px 2px 0 0;
	float: left;
	color: #ccc;
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em #aaa;
}

.jx_dl:hover {
	color: white;
}
