.dialog-shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.3);
	z-index: 100;
}

.dialog-container {
	min-width: calc(768px + 2em);
	min-height: 20em;
	padding: 1em;
	background: #fff;
	box-shadow: 2px 2px 2px #666;
	border: 1px solid rgba(6,6,6,.3);
	position: relative;
	padding-top: 2.5em;
}

.dialog-bar {
	position: absolute;
	left: 0;
	top: 0;
	padding: .4em;
	width: calc(100% - .8em);
	border-bottom: 1px solid white;
	background: #00A7F2;
	color: white;
}

.dialog-bar-btn {
	float: right;
	width: 1em;
	height: 1em;
	border: 1px solid white;
	text-align: center;
	line-height: 1.2;
	padding: 0 .5em;
	margin-left: .5em;
}

.dialog-content iframe {
	height: 30em;
	width: 100%;
}